# ---------------[ Unity generated ]------------------ #

/Temp

/obj

/UnityGenerated

/Library

/Builds

 

# ----[ Visual Studio / MonoDevelop generated ]------- #

 # Visual Studio 2015 cache/options directory
.vs/

ExportedObj/

*.svd

*.userprefs

*.csproj

*.pidb

*.suo

*.sln

*.user

*.unityproj

*.booproj



# -------------[ OS generated ]------------------------ #

.DS_Store

.DS_Store?

._*

.Spotlight-V100

.Trashes

Icon?

ehthumbs.db

Thumbs.db
